* {
	font-family: var(--main-font);
}

:root{
	/*Variaveis*/
	--main-font: 'Manrope', Helvetica, sans-serif;	

}

#principal {
	display: flex;
	justify-content: center;
}

#secundaria {
	margin-top: 100px;
	text-align: center;
}

#quadrado {
	margin: auto;
}

/*button {
	width: 65px;
	font-size: 0.7em;
}*/

.night {
	background: black;
	color: whitesmoke;
}

.day {
	background: whitesmoke;
	color: black;
}

/* Botão radio*/
label {
	width: 67px;
}

.switch-field {
	display: flex;
	margin-bottom: auto;
	overflow: hidden;
	justify-content: center;
		
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: /*rgba(0, 0, 0, 0.6)*/black;
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	/*box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);*/
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: black;
	color: white;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}